* {
    text-align: center;
    background-color: red;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('snow.gif');
    background-repeat: 2;
}

:root {
    --CTWidth: 400px;
    --CSWidth: 100px;
}

.countdown {
    border: 2px solid white;
    margin: 40px auto;
    width: 300px;
}

.mellemrum {
    margin: 20px;
    font-size: 20px;
}

.christmas-tree {
    margin-top: 100px;
    width: var(--CTWidth);
}

.christmas-star {
    width: var(--CSWidth);
    top: 60vh;
    left: 10vw;
    background-color: transparent;
    position: absolute;
}

.firework {
    position: absolute;
    background-color: transparent;
    width: clamp(200px, 30vw, 400px);
    height: clamp(200px, 30vw, 400px);
    margin: auto 60vw auto 0;
    opacity: 0;
    pointer-events: none;
    left: 0;
}

#snow {
    position: fixed;
    background-color: transparent;
    transform: translate(-50vw, 70vh);
    width: 105vw;
    height: 30vh;
}

.right {
    left: 65vw;
}

.firework-and-tree {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 10px;
}

#snow-snowing {

    height: 100vh;
}

.pages {
    width: 60vw;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

a {
    font-size: 40px;
    border: 2px solid white;
    padding: 20px;
}
#bell {
    background-color: transparent;
    margin-top: 100px;
}

.ønskeliste {
    margin-top: 100px;
}