* {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

:root {
    --CTWidth: 400px;
    --CSWidth: 100px;
}

html {
    background-color: red;
    background-image: url('snow.gif');
    background-repeat: 2;
}

h1 {
    font-size: 5vw;
    margin: 10px;
}

/* forside */

.links {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
}

a {
    background-color: red;
    font-size: clamp(20px, 3vw, 30px);
    border: 2px solid white;
    padding: 2vw 3vw;
}

.bell {
    background-color: transparent;
    margin-top: 80px;
}

/* countdown */

.countdown {
    border: 2px solid white;
    background-color: red;
    margin: 40px auto;
    width: 60vw;
}

#dage, #timer, #minutter, #sekunder {
    margin: 20px;
    font-size: 3vw;
}

/* pynt et juletræ */

.christmas-tree {
    margin-top: 10vh;
    width: var(--CTWidth);
}

.christmas-star {
    width: var(--CSWidth);
    /* top: 60vh;
    left: 10vw; */
    position: absolute;
}

.firework {
    position: absolute;
    width: clamp(200px, 30vw, 400px);
    height: clamp(200px, 30vw, 400px);
    margin: auto 60vw auto 0;
    opacity: 0;
    pointer-events: none;
    left: 0;
}

.snow-lying {
    position: fixed;
    transform: translate(-55vw, 70vh);
    width: 105vw;
    height: 30vh;
}

.right {
    left: 65vw;
}

.firework-and-tree {
    display: flex;
    justify-content: center;
    background-image: url('snow.gif');
    background-repeat: 2;
}

/* ønskeliste */

.ønskeliste {
    margin-top: 100px;
}

#ønskButton {
    padding: 5px;
}

#ønskButton, #ønske, #liste {
    font-size: 20px;
    color: red;
}

/* julegåder */

.gåde-box {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    margin: 30vh auto 5px auto;
    padding: 3vw;
    width: 50vw;
}

#gåde {
    color: black;
    font-size: clamp(20px, 3vw, 40px);
}

#gåde-button {
    padding: 10px;
    color: black;
    font-size: clamp(20px, 3vw, 40px);
}

/* pil hjem */

#arrow {
    position: absolute;
    pointer-events: all;
    opacity: 1;
    width: 50px;
    left: 5px;
}

.arrow-link {
    pointer-events: none;
    border: 0;
}