* {
    text-align: center;
    background-color: red;
    color: white;
    margin: 0;
    padding: 0;
}

.countdown {
    border: 2px solid white;
    margin: 40px auto;
    width: 300px;
}

.mellemrum {
    margin: 20px;
    font-size: 20px;
}
.christmas-tree {
    margin: 100px 0 0 0;
    width: 400px;
}
.christmas-star {
    width: 100px;
    background-color: transparent;
    position: absolute;
}

h1 {
    margin: 10px;
}

a {
    font-size: 40px;
    border: 2px solid white;
    padding: 20px;
    display: grid;
}